<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180183630226-o0c9i4481g4odea5s04cukqeljjtkiac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180183630226-o0c9i4481g4odea5s04cukqeljjtkiac</string>
	<key>API_KEY</key>
	<string>AIzaSyCVGaC4Qr3YDWSXLBPsFxW9LDsOidYxZ5U</string>
	<key>GCM_SENDER_ID</key>
	<string>180183630226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.otoparkbul.customer</string>
	<key>PROJECT_ID</key>
	<string>otoparkbul-yu</string>
	<key>STORAGE_BUCKET</key>
	<string>otoparkbul-yu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180183630226:ios:64e1af44c89d849cb9c14b</string>
</dict>
</plist>